---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    {%include meta.html%}
</head>

<body class="w-screen h-screen min-h-screen">
    <div class="w-full h-full p-2.5 text-9xl text-center font-black mx-auto grid place-content-center">
        {{content}}
    </div>
    <script>
        document.title = "Use me to pay!!";
        
        // Add event listeners to detect tab changes
        document.addEventListener("visibilitychange", function() {
          if (document.visibilityState === "visible") {
            // Set the title for the active tab
            document.title = "Use me to pay";
          } else {
            // Set a different title when the tab is not active
            document.title = "Come back :(";
          }
        });
        
                </script>
</body>

</html>